textarea {
    resize: none;
}

header {
    border-bottom-width: 10px;
    color: rgb(15, 15, 15);
}

button {
    background-color: rgb(170, 170, 41);
    border-radius: 0px 5px 5px 0px;
    font-size: 2em;
    color: rgb(112, 112, 12);
}

.past-hour {
    background-color: rgb(109, 95, 95);
    border-color: rgb(56, 47, 47);
}

.present-hour {
    background-color: rgb(148, 148, 219);
    border-color: rgb(106, 106, 192);
}

.future-hour {
    background-color: rgb(89, 133, 89);
    border-color: rgb(39, 65, 39);
}



