textarea {
    resize: none;
}

header {
    border-bottom-width: 10px;
    color: rgb(26, 21, 21);
}

button {
    background-color: rgb(207, 207, 121);
    border-radius: 0px 5px 5px 0px;
    font-size: 2em;
}

.past-hour {
    background-color: rgb(109, 95, 95);
    border-color: rgb(56, 47, 47);
}

.present-hour {
    background-color: rgb(148, 148, 219);
    border-color: rgb(106, 106, 192);
}

.future-hour {
    background-color: rgb(89, 133, 89);
    bordere-color: rgb(39, 65, 39);
}



